@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #E59E72;  /* Soft orange */
  --accent-color: #E59E72;   /* Same as primary for consistency */
  --light-gray: #f2f2f2;
  --dark-gray: #333;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-gray);
}

/* Styling label untuk input */
label {
  font-size: 1rem;
  font-weight: 600;
  color: #374151; /* Dark color for text */
  margin-bottom: 5px;
}
